
.cards{
  width:600px;
  position: absolute;
  left: 390px;
  top:750px;
  background-color: #D0D0D0;
}
.name{
  position:absolute;
  top:-55px;
  right:1010px;
  text-decoration: none !important;
  scale:1 0.7 1;
  font-family: sans-serif;
  font-size: smaller;
}
.text{
  transform: scale(1)
}
.name.hover{
  text-decoration: none;
}
.order_cards{
  position:absolute;
  top:150px;
  right:104px;
}
.order_
{
  width: 285px;
  height: 100px;
  border-color: rgba(0,0,0,0.5);
}
.order_c{
  position:absolute;
  top:265px;
  right:104px;
}
.orderz
{
  width: 290px;
  height: 385px;
  border: none;
  //border-width: 4px;
  //border-color: whitesmoke;
  //border-color: crimson;
}
.image{
  max-width: 55%;
  height: auto;
  object-fit: cover;
}
.img{
  object-fit: cover;
}

