<div class="container py-3">
  <div class="card  shadow mb-3" style="max-width: 900px;">
    <div class="row g-6 p-5">
      <div class="col-md-4">
        <img src="assets/undraw_secure_login_pdn4.svg" class="img-fluid  border border-primary" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="">
          <h5 class="card-title text-primary">Product Name</h5>
            <p class="card-text "><small class="text-muted">more information</small></p>
          <p class="card-text py-1">Reviews</p>
          </div>
          <div class="card-text py-3 border-2 border-top border-bottom">
            <small class="text-white bg-dark">In stock</small>
            <span  class="location">JHB</span>
            <a class="card-text py-5">where do i get it?</a>
          </div>

          <div class="shadow py-3">
            <ul>
              <li >
                <i class="next_day_delivery default "></i>
                <span class="border-bottom">Eligible for next-day delivery or collection.</span>
                </li>
                <li>
                  <i class="eligible_for_cod default"></i>
                  <span class="border-bottom">Eligible for Cash on Delivery.</span>
                  </li>
                 <li>
                   <i class="free_delivery_available default"></i>
                  <span>Free Delivery Available.</span>
                </li>
                <li>
                  <i class="hassle_free_exchanges_and_returns default"></i>
                  <span class="border-bottom">Hassle-Free Exchanges &amp; Returns for 30 Days.</span>
                  </li>
              <li>
                  <i class="warranty default">
                  </i><span class="border-bottom">6-Month Limited Warranty.</span>
                  </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
