.img{
  margin: 2px;
  padding-bottom: 4px;
}
a{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  color: black;
}
.payment{
  font-weight: bold;
  font-family: "Rage Italic";
}
