<div class="container cards">

  <div class="row">
    <div class="col">
      <h5 class="text">Popular products for you</h5>
    </div>
    <div class="col ">
      <button type="button" class="right btn btn-outline-primary">View More</button>
    </div>
  </div>

</div>

<div class="container cards">
  <div class="row">
    <div *ngFor="let count of [1,2,3,4,5,6,7,8]; let countSub = index" class="test  col-lg-3  py-3 ">

      <div class="card grow shadow">
        <img src="assets/undraw_secure_login_pdn4.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p>Description</p>
          <h6 class="card-title-s text-sm">Product Name</h6>
          <div class="icons">
            <div class="row">
              <div class="col-12">
                <li class="nav-item badge love  bg-danger">
                  <a class="nav-link bg-danger">
                    <svg viewBox="0 0 24 24" role="presentation" style="width: 18px; height: 18px;"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3
                    7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3
                    19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" style="fill: currentcolor;"></path></svg></a>
                </li>
              </div>
              <div class="col-12 py-2">
                <small class="text-white bg-dark">In stock</small>
                <span  style="float: right; color: #a6a6a6">JHB</span>
              </div>
              <div class="col">
                <p>Reviews</p>
              </div>
              <div class="col-12 text-center">
                <button type="button" class=" btn btn-sm btn-outline-primary"><svg viewBox="0 0 10 24" role="presentation" class="badge-button-module_badge-icon_LvKrF" style="width: 18px; height: 18px;"><path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" style="fill: currentcolor;"></path></svg>
                  <span class="badge-count badge-button-module_badge-count_28PIS text-white"> </span>Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


